<%= bootstrap_form_for(@event) do |f|%>
    <div class="row">
      <div class="col-md-6" ><%= f.text_field(:name, label: t(:event_name), placeholder:  'Birthday')%></div>
    </div>
    <div class="row">
      <div class="col-md-6" ><%= f.datetime_field(:date, label: t(:event_date), placeholder:  'dd/mm/yy' ) %></div>
    </div>
    <div class="row">
      <div class="col-md-12"><%= f.submit "Create" %></div>
    </div>
<% end %>
