<h1>Список событий</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
  </tr>
    <% @events.each do |event| %>
        <%= render partial: "event", object: event %>
    <% end %>
  <tr>
    <th><%= link_to 'Добавить', new_event_path %></th>
  </tr>
</table>
