// Place all the styles related to the Events controller here.
// They will automatically be included in application.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drag_product.ui-draggable-dragging { background: lightgoldenrodyellow; }
.product-list {
  .list-header {
    text-align: left;
  }
    width: 520px;
}