// Place all the styles related to the Events controller here.
// They will automatically be included in application.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-list {
  border: 2px solid #000;
  padding: 2px;
  .list-header {
    text-align: left;
    margin: -2px -2px 0;
    padding: 2px;
  }
  .colored {
    background-color: #337ab7;
  }
}

.right {
  text-align: right;
}

.list-sum {
  text-align: right;
}

.deline {
  border-top: 2px solid #000;
}

.subline {
  border-top: 1px dashed #000;
}

.guests {
  -moz-columns: 2;
  -moz-column-rule: 1px solid #ccc;
  -webkit-columns: 2;
  -webkit-column-rule: 1px solid #ccc;
  columns: 2;
  column-rule: 1px solid #ccc;
}

.guest {
  height: 40px;
  min-width: 340px;
  text-align: right;
}

.inner-list {
  padding: 0 30px;
}

.invite-padding {
  display: inline;
  padding-left: 1em;
}

@media (max-width: 767px) {
  .half-screen {
    width: 50%;
    display: inline-block;
  }
  .quarter-screen {
    width: 25%;
    display: inline-block;
  }
  .guest {
    min-width: 50%;
  }
}
