// Place all the styles related to the Events controller here.
// They will automatically be included in application.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-list {
  padding: 2px;
  .list-header {
    text-align: left;
    margin: -2px -2px 0;
    padding: 2px;
  }
  .colored {
    background-color: #337ab7;
  }
}

.content-field-header {
  font-size: 22px
}

.event-header {
  font-size: 18px
}

.header-field {
  padding-top: 3px
}

.print-field {
  max-width: 400px;
  background: #fff;
  margin: 0 auto !important;
  padding: 3px;
  font-family: Courier;
  border: 1px solid #000;
}

.avatar-field {
  display: inline-block;
}

.right {
  text-align: right;
}

.list-sum {
  text-align: right;
}

.deline {
  border-top: 2px solid #000;
  padding: 3px 0
}

.subline {
  border-top: 1px dashed #000;
}

.guests {
  -moz-columns: 2;
  -moz-column-rule: 1px solid #ccc;
  -webkit-columns: 2;
  -webkit-column-rule: 1px solid #ccc;
  columns: 2;
  column-rule: 1px solid #ccc;
}

// .guest {
//   height: 40px;
//   text-align: right;
// }
.guest {
  min-height: 100px !important;
  margin-bottom: 10px;
}

.inner-list {
  padding: 0 30px;
  .list-element {
    display: inline-block;
    margin-right: 10px;
  }
}

.invite-padding {
  // display: inline;
  display: inline-block;
  padding-left: 1em;
}

@media (max-width: 767px) {
  .half-screen {
    width: 50%;
    display: inline-block;
  }
  .half-screen-hideable {
    display: none;
  }
  .quarter-screen {
    width: 25%;
    display: inline-block;
  }
  .guest-pad {
    display: none;
  }
  .event-header {
    font-style: italic;
    font-size: 14px;
  }
  .invite-padding {
    display: block;
  }
}
