// Place all the styles related to the Events controller here.
// They will automatically be included in application.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drag_product.ui-draggable-dragging { background: lightgoldenrodyellow; }
.product-list {
  .list-header {
    text-align: left;
  }
    width: 520px;
}
.wide{
  height: 20px;
}
.width1{
  width: 300px;
}
.width2{
  width: 100px;
}
.center{
  text-align: center;
}
.left{
  width: 110px;
  text-align: center;
}
.actions{
  width: 470px;
  text-align: center;
}
td.wide{
  width: 250px;
}