// Place all the styles related to the Events controller here.
// They will automatically be included in application.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drag_product.ui-draggable-dragging { background: lightgoldenrodyellow; }
.center{
  text-align: center;
}
.report{
  background-color: #f1f1f1;
  border: 2px double lightblue ;
}
.width-actions{
  width: 40px;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.sign-color .h2 {
  color: #ffffff;
}