// Place all the styles related to the Events controller here.
// They will automatically be included in application.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-list {
  border: 2px solid #000;
  padding: 2px;
  .list-header {
    text-align: left;
    background-color: #337ab7;
    margin: -2px -2px 0;
    padding: 2px;
  }
  .right {
    text-align: right;
  }
    width: 520px;
}
.deline {
  border-top: 2px solid #000;
}
.subline {
  border-top: 1px dashed #000;
}
.guests {
  -moz-columns: 30px 2;
  -moz-column-rule: 1px solid #ccc;
  -webkit-columns: 30px 2;
  -webkit-column-rule: 1px solid #ccc;
  columns: 30px 2;
  column-rule: 1px solid #ccc;
}
.guest {
  height: 40px;
  min-width: 340px;
  text-align: right;
}
.siding {
  display: inline;
  margin-left: 15px;
}
