// Place all the styles related to the Invites controller here.
// They will automatically be included in application.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.color1{
  background-color: khaki;
}
.color2{
  background-color: antiquewhite;
}